.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 1px;
    margin-top: 1em;
    background-color: #F3FFF6;
  }

  .gridContainer *{
    font-size: 15px;
  }
  
  .gridHeader {
    display: contents;
  }
  
  .gridBody {
    display: contents;
  }
  
  .gridRow {
    display: contents;
  }
  
  .gridItem {
    background-color: #F3FFF6;
    padding: 8px 16px;
    text-align: left;
    display: flex;   
    justify-content: center;
    align-items: center;   
  }
  
  .header {
    background-color: #F3FFF6;
    font-weight: bold;
  }
  
  .gridPhoto {
    width: 50px;
    height: 50px;
  }

  .accepted {
    color: green;
  }
  
  .rejected {
    color: red;
  }
  
  .gridContainerReq{
    grid-template-columns: repeat(7, 2fr);
  }
  
  .gridContainerReq1{
    padding: 1em;
    grid-template-columns: repeat(5, .60fr);
  }

  .gridItem_{
    background-color: #F3FFF6;
    padding: 4px 16px;
    text-align: left;
    display: flex;
    align-items: center;   
  }
